@import './variables.scss';
@import './headerfooter.scss';

@mixin flexcenter {
display: flex
justify-content: center
align-items: center
}


footer,header,body {
@mixin flexcenter
}



p {
        font-family: "Mulish", serif;
        font-weight: 300;
}

%headline-txt {
        font-family: "Mulish", serif;   
        font-weight: 700;
        font-style: bold;
      }
    

    h1 {
        font-size: 100px;
        color: blue;
        font-family: "Mulish", serif;
        font-weight: 200;
    }

.navbar {
    background-color: aqua;
    align-items: center;
    
}

header {
display: flex;
}

p {

}

body {
    margin: 20px;
}

h2 {
    color: blue;
}

.main_container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    grid-gap: 15px;
    // width: 1110px;
    // height: 1960px;
    height: 100vh;
    width: 80%;
    background-color: red;
    margin: 125px;
    margin-top: 200px;
}


.image_1 {
    background: rgb(138, 61, 130);
    grid-column: 1/4;
    grid-row: 1/8;
}

.image_2 {
    grid-area: 1/1/8/4;
}

.image_3 {
    grid-area: 1/1/1/1;
}


.image_4 {
    grid-area: 1/1/1/1;
}

.image_5 {
    grid-area: 1/4/7/7;
}

.image_6 {
    grid-area: 1/1/1/1;
}

.image_7 {
    grid-area: 1/1/1/1;
}

.image_8 {
    grid-area: 1/1/1/1;
}

.image_9 {
    grid-area: 1/1/1/1;
}

.image_10 {
    grid-area: 1/1/1/1;
}

.image_11 {
    grid-area: 1/1/1/1;
}

.image_12 {
    grid-area: 1/1/1/1;
}